<!DOCTYPE html>
<html>
	<head>
		<title>Paises</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,maximum-scale=1,minimum-scale=1">
		<meta name="description" content="List of games">
		<meta name="keywords" content="RISK, game, SCORE-2016">
		<script type="text/javascript" src="js/jquery-1.11.3.min.js" ></script>
		<script type="text/javascript" src="js/editarPais.js" ></script>
	</head>
	<body>
		<div id = "wraper">
			<h3>Crear un pais:</h3></br></br>
			<label> Codigo:</label>
			<input  id = "txtCodigo" type = "text" /></br></br>
			<label> Descripcion:</label>
			<input  id = "txtDescripcion" type = "text"/></br></br>
			<input  id = "btnGuardar" type = "button" value = "Guardar"/>

		</div>

	</body>
</html>