#s-63b118b9-502d-4836-b000-9e7b1c984d8b > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_31 {
  position: absolute;
  top: 0px;
  left: -1px;
  padding-top: 38px;
  padding-left: 73px;
  width: 468px;
  height: 42px;
  background-color: #08AE9E;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Light,Arial;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_31 .valign {
  vertical-align: top;
  text-align: left;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_31 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_31 span#rtr-s-Label_31_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Rectangle_1 {
  position: absolute;
  top: 211px;
  left: 28px;
  width: 464px;
  height: 726px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Image_1 {
  position: absolute;
  top: 268px;
  left: 53px;
  width: 66px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_3 {
  position: absolute;
  top: 289px;
  left: 148px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Light,Arial;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_4 {
  position: absolute;
  top: 231px;
  left: 137px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_4 span#rtr-s-Text_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_5 {
  position: absolute;
  top: 231px;
  left: 275px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_5 span#rtr-s-Text_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_6 {
  position: absolute;
  top: 289px;
  left: 274px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Light,Arial;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_6 span#rtr-s-Text_6_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Image_2 {
  position: absolute;
  top: 365px;
  left: 53px;
  width: 66px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_7 {
  position: absolute;
  top: 386px;
  left: 150px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Light,Arial;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_7 span#rtr-s-Text_7_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_8 {
  position: absolute;
  top: 386px;
  left: 274px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Light,Arial;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_8 span#rtr-s-Text_8_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Image_3 {
  position: absolute;
  top: 454px;
  left: 53px;
  width: 66px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_9 {
  position: absolute;
  top: 475px;
  left: 168px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Light,Arial;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_9 span#rtr-s-Text_9_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_10 {
  position: absolute;
  top: 475px;
  left: 274px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Light,Arial;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_10 span#rtr-s-Text_10_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Line_1 {
  position: absolute;
  top: 255px;
  left: 28px;
  width: 467px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Line_2 {
  position: absolute;
  top: 346px;
  left: 28px;
  width: 467px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Line_3 {
  position: absolute;
  top: 447px;
  left: 28px;
  width: 467px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Line_4 {
  position: absolute;
  top: 539px;
  left: 28px;
  width: 467px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Image_4 {
  position: absolute;
  top: 557px;
  left: 53px;
  width: 66px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_15 {
  position: absolute;
  top: 578px;
  left: 274px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Light,Arial;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_15 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_15 span#rtr-s-Text_15_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Line_7 {
  position: absolute;
  top: 642px;
  left: 28px;
  width: 467px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Image_5 {
  position: absolute;
  top: 657px;
  left: 53px;
  width: 66px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_17 {
  position: absolute;
  top: 669px;
  left: 274px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Light,Arial;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_17 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_17 span#rtr-s-Text_17_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Line_8 {
  position: absolute;
  top: 742px;
  left: 28px;
  width: 467px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Paragraph_1 {
  position: absolute;
  top: 552px;
  left: 148px;
  width: 128px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Paragraph_2 {
  position: absolute;
  top: 670px;
  left: 148px;
  width: 111px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Image_6 {
  position: absolute;
  top: 754px;
  left: 53px;
  width: 66px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_18 {
  position: absolute;
  top: 766px;
  left: 274px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Light,Arial;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_18 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_18 span#rtr-s-Text_18_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Paragraph_3 {
  position: absolute;
  top: 767px;
  left: 148px;
  width: 101px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Line_9 {
  position: absolute;
  top: 838px;
  left: 28px;
  width: 467px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Image_7 {
  position: absolute;
  top: 851px;
  left: 58px;
  width: 66px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_11 {
  position: absolute;
  top: 872px;
  left: 153px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Light,Arial;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_11 span#rtr-s-Text_11_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_12 {
  position: absolute;
  top: 872px;
  left: 265px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Light,Arial;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_12 span#rtr-s-Text_12_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Group_1 {
  position: absolute;
  top: 147px;
  left: 28px;
  width: 468px;
  height: 51px;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 464px;
  height: 47px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Search-input {
  position: absolute;
  top: 3px;
  left: 2px;
  width: 464px;
  height: 46px;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Rectangle_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 13px;
  padding-left: 51px;
  width: 409px;
  height: 29px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 5px 0px #999999;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Thin,Arial;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Rectangle_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Rectangle_6 span {
  color: #BCBCBC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Thin,Arial;
  font-size: 10.0pt;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #BCBCBC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Thin,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_7 {
  position: absolute;
  top: 10px;
  left: 18px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_7 span {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_7 span#rtr-s-Label_7_0 {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_13 {
  position: absolute;
  top: 231px;
  left: 384px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_13 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_13 span#rtr-s-Text_13_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_3 {
  position: absolute;
  top: 289px;
  left: 421px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_3 span {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_3 span#rtr-s-Label_3_0 {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_4 {
  position: absolute;
  top: 386px;
  left: 421px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_4 span {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_4 span#rtr-s-Label_4_0 {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_5 {
  position: absolute;
  top: 476px;
  left: 421px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_5 span {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_5 span#rtr-s-Label_5_0 {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_6 {
  position: absolute;
  top: 578px;
  left: 421px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_6 span {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_6 span#rtr-s-Label_6_0 {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_8 {
  position: absolute;
  top: 669px;
  left: 421px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_8 span {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_8 span#rtr-s-Label_8_0 {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_9 {
  position: absolute;
  top: 766px;
  left: 421px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_9 span {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_9 span#rtr-s-Label_9_0 {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_10 {
  position: absolute;
  top: 872px;
  left: 421px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_10 span {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Label_10 span#rtr-s-Label_10_0 {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_14 {
  position: absolute;
  top: 231px;
  left: 58px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_14 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Text_14 span#rtr-s-Text_14_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Rectangle_3 {
  position: absolute;
  top: 74px;
  left: 0px;
  width: 536px;
  height: 42px;
  background-color: #FFFECE;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b #s-Line_5 {
  position: absolute;
  top: 38px;
  left: 12px;
  width: 42px;
  height: 21px;
  border-top-width: 7px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-63b118b9-502d-4836-b000-9e7b1c984d8b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}