#s-921f9c76-2c42-4504-8105-5ca046d8e700 #s-maps-background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-921f9c76-2c42-4504-8105-5ca046d8e700 #s-Pinmap {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-921f9c76-2c42-4504-8105-5ca046d8e700 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-921f9c76-2c42-4504-8105-5ca046d8e700 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-921f9c76-2c42-4504-8105-5ca046d8e700 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-921f9c76-2c42-4504-8105-5ca046d8e700 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-921f9c76-2c42-4504-8105-5ca046d8e700 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}