#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_6 {
  border-top-width: 7px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_6 {
  border-top-width: 7px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Rectangle_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Rectangle_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}