#s-92c41a19-118d-4038-bed7-7bf4161ec874 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_16 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 38px;
  padding-left: 73px;
  width: 467px;
  height: 45px;
  background-color: #08AE9E;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Arial,Arial;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_16 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_16 span#rtr-s-Text_16_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Rectangle_3 {
  position: absolute;
  top: 74px;
  left: 0px;
  width: 536px;
  height: 42px;
  background-color: #FFFECE;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_6 {
  position: absolute;
  top: 37px;
  left: 10px;
  width: 42px;
  height: 21px;
  border-top-width: 7px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Group_2 {
  position: absolute;
  top: 162px;
  left: 37px;
  width: 468px;
  height: 757px;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Rectangle_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 464px;
  height: 753px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Rectangle_7 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Rectangle_8 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 463px;
  height: 54px;
  background-color: #FFFECE;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Rectangle_8 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_1 {
  position: absolute;
  top: 18px;
  left: 16px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Image_1 {
  position: absolute;
  top: 155px;
  left: 27px;
  width: 64px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_2 {
  position: absolute;
  top: 177px;
  left: 117px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_3 {
  position: absolute;
  top: 288px;
  left: 259px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Image_2 {
  position: absolute;
  top: 260px;
  left: 27px;
  width: 64px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_4 {
  position: absolute;
  top: 275px;
  left: 126px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_5 {
  position: absolute;
  top: 397px;
  left: 258px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Image_3 {
  position: absolute;
  top: 359px;
  left: 27px;
  width: 64px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_6 {
  position: absolute;
  top: 377px;
  left: 138px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_7 {
  position: absolute;
  top: 490px;
  left: 258px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_1 {
  position: absolute;
  top: 141px;
  left: 0px;
  width: 467px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_2 {
  position: absolute;
  top: 240px;
  left: 0px;
  width: 467px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_3 {
  position: absolute;
  top: 351px;
  left: 0px;
  width: 467px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_4 {
  position: absolute;
  top: 451px;
  left: 0px;
  width: 467px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_5 {
  position: absolute;
  top: 558px;
  left: 0px;
  width: 467px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Image_4 {
  position: absolute;
  top: 571px;
  left: 27px;
  width: 64px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_8 {
  position: absolute;
  top: 702px;
  left: 258px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_8 {
  position: absolute;
  top: 661px;
  left: 0px;
  width: 467px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Image_5 {
  position: absolute;
  top: 666px;
  left: 27px;
  width: 64px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Paragraph_1 {
  position: absolute;
  top: 582px;
  left: 123px;
  width: 115px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Paragraph_2 {
  position: absolute;
  top: 685px;
  left: 123px;
  width: 77px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Image_6 {
  position: absolute;
  top: 473px;
  left: 27px;
  width: 64px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_10 {
  position: absolute;
  top: 602px;
  left: 256px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Paragraph_3 {
  position: absolute;
  top: 488px;
  left: 114px;
  width: 70px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_11 {
  position: absolute;
  top: 190px;
  left: 260px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Group_3 {
  position: absolute;
  top: 978px;
  left: 36px;
  width: 468px;
  height: 757px;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Rectangle_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 464px;
  height: 753px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Rectangle_9 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Rectangle_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 463px;
  height: 54px;
  background-color: #FFFECE;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Rectangle_10 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_9 {
  position: absolute;
  top: 18px;
  left: 16px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Image_7 {
  position: absolute;
  top: 155px;
  left: 27px;
  width: 64px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_12 {
  position: absolute;
  top: 177px;
  left: 117px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_13 {
  position: absolute;
  top: 288px;
  left: 259px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Image_8 {
  position: absolute;
  top: 260px;
  left: 27px;
  width: 64px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_14 {
  position: absolute;
  top: 275px;
  left: 126px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_14 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_15 {
  position: absolute;
  top: 397px;
  left: 258px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_15 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Image_9 {
  position: absolute;
  top: 359px;
  left: 27px;
  width: 64px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_17 {
  position: absolute;
  top: 377px;
  left: 138px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_17 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_17 span#rtr-s-Text_17_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_18 {
  position: absolute;
  top: 490px;
  left: 258px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_18 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_18 span#rtr-s-Text_18_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_7 {
  position: absolute;
  top: 141px;
  left: 0px;
  width: 467px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_9 {
  position: absolute;
  top: 240px;
  left: 0px;
  width: 467px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_10 {
  position: absolute;
  top: 351px;
  left: 0px;
  width: 467px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_11 {
  position: absolute;
  top: 451px;
  left: 0px;
  width: 467px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_12 {
  position: absolute;
  top: 558px;
  left: 0px;
  width: 467px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Image_10 {
  position: absolute;
  top: 571px;
  left: 27px;
  width: 64px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_19 {
  position: absolute;
  top: 702px;
  left: 258px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_19 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_19 span#rtr-s-Text_19_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Line_13 {
  position: absolute;
  top: 661px;
  left: 0px;
  width: 467px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Image_11 {
  position: absolute;
  top: 666px;
  left: 27px;
  width: 64px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Paragraph_4 {
  position: absolute;
  top: 582px;
  left: 123px;
  width: 115px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Paragraph_5 {
  position: absolute;
  top: 685px;
  left: 123px;
  width: 77px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Image_12 {
  position: absolute;
  top: 473px;
  left: 27px;
  width: 64px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_20 {
  position: absolute;
  top: 602px;
  left: 256px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_20 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_20 span#rtr-s-Text_20_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Paragraph_6 {
  position: absolute;
  top: 488px;
  left: 114px;
  width: 70px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Paragraph_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_21 {
  position: absolute;
  top: 190px;
  left: 260px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_21 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 #s-Text_21 span#rtr-s-Text_21_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-92c41a19-118d-4038-bed7-7bf4161ec874 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}