#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Line_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Line_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb #s-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2a49204e-3044-4203-bb54-79da0bddb8bb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}