#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Label_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Label_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Label_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Label_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-3932dcff-fbc4-4253-b878-ffcc451dbbbc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}