#s-7044a398-3dd9-49a1-a372-40f1a86557ae #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7044a398-3dd9-49a1-a372-40f1a86557ae #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7044a398-3dd9-49a1-a372-40f1a86557ae #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7044a398-3dd9-49a1-a372-40f1a86557ae #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7044a398-3dd9-49a1-a372-40f1a86557ae #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7044a398-3dd9-49a1-a372-40f1a86557ae #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7044a398-3dd9-49a1-a372-40f1a86557ae #s-maps-background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7044a398-3dd9-49a1-a372-40f1a86557ae #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7044a398-3dd9-49a1-a372-40f1a86557ae #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7044a398-3dd9-49a1-a372-40f1a86557ae #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7044a398-3dd9-49a1-a372-40f1a86557ae #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7044a398-3dd9-49a1-a372-40f1a86557ae #s-Pinmap {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7044a398-3dd9-49a1-a372-40f1a86557ae #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-7044a398-3dd9-49a1-a372-40f1a86557ae > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}