#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Label_31 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 38px;
  padding-left: 73px;
  width: 287px;
  height: 42px;
  background-color: #08AE9E;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Arial,Arial;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Label_31 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Label_31 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Label_31 span#rtr-s-Label_31_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Statusbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 20px;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 8px;
  width: 352px;
  height: 20px;
  background-color: #000000;
  background-image: none;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Dynamic_Panel_3 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Panel_4 {
  width: 360px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Icons_5 {
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Label_30 {
  padding-right: 5px;
  width: 41px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Light,Arial;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Label_30 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Label_30 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Label_30 span#rtr-s-Label_30_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Line_1 {
  position: absolute;
  top: 41px;
  left: 7px;
  width: 42px;
  height: 21px;
  border-top-width: 7px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Rectangle_1 {
  position: absolute;
  top: 79px;
  left: 0px;
  width: 356px;
  height: 42px;
  background-color: #FFFECE;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Image_1 {
  position: absolute;
  top: 159px;
  left: 81px;
  width: 176px;
  height: 124px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Text_1 {
  position: absolute;
  top: 133px;
  left: 149px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Button_3 {
  position: absolute;
  top: 590px;
  left: 23px;
  width: 139px;
  height: 38px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Button_4 {
  position: absolute;
  top: 590px;
  left: 186px;
  width: 139px;
  height: 38px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Button_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Text_16 {
  position: absolute;
  top: 369px;
  left: 27px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Text_16 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Text_16 span#rtr-s-Text_16_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Text_20 {
  position: absolute;
  top: 468px;
  left: 97px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Text_20 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Text_20 span#rtr-s-Text_20_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Text_42 {
  position: absolute;
  top: 468px;
  left: 200px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Text_42 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Text_42 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Text_42 span#rtr-s-Text_42_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Group_3 {
  position: absolute;
  top: 309px;
  left: 20px;
  width: 320px;
  height: 42px;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Rectangle_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 316px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Label_3 {
  position: absolute;
  top: 7px;
  left: 78px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Label_3 span {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Label_3 span#rtr-s-Label_3_0 {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Label_4 {
  position: absolute;
  top: 474px;
  left: 307px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Label_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Label_4 span {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Label_4 span#rtr-s-Label_4_0 {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Line_8 {
  position: absolute;
  top: 447px;
  left: 2px;
  width: 358px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Text_21 {
  position: absolute;
  top: 403px;
  left: 105px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Text_21 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Text_21 span#rtr-s-Text_21_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Text_43 {
  position: absolute;
  top: 403px;
  left: 200px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Text_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Text_43 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Text_43 span#rtr-s-Text_43_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Label_5 {
  position: absolute;
  top: 398px;
  left: 302px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Label_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Label_5 span {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Label_5 span#rtr-s-Label_5_0 {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Image_16 {
  position: absolute;
  top: 388px;
  left: 36px;
  width: 44px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Image_12 {
  position: absolute;
  top: 458px;
  left: 36px;
  width: 44px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Text_22 {
  position: absolute;
  top: 544px;
  left: 97px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Text_22 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Text_22 span#rtr-s-Text_22_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Text_44 {
  position: absolute;
  top: 544px;
  left: 200px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Text_44 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Text_44 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Text_44 span#rtr-s-Text_44_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Label_6 {
  position: absolute;
  top: 539px;
  left: 307px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Label_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Label_6 span {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Label_6 span#rtr-s-Label_6_0 {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Line_9 {
  position: absolute;
  top: 523px;
  left: 2px;
  width: 358px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 #s-Image_13 {
  position: absolute;
  top: 534px;
  left: 36px;
  width: 44px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b0ed1802-55e3-48ee-83d7-0fa9251622c1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}