#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Line_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Line_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Button_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 139px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Button_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 139px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Line_1 {
  border-top-width: 7px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 #s-Line_1 {
  border-top-width: 7px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f39cced0-6af6-4c06-9d7d-a230c734f2a8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}