#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Line_1 {
  border-top-width: 7px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Line_1 {
  border-top-width: 7px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 70px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-checkbox-on-light_6 {
  -ms-transform: rotate(0.0deg);
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-checkbox-on-light_7 {
  -ms-transform: rotate(0.0deg);
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-checkbox-on-light_8 {
  -ms-transform: rotate(0.0deg);
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-checkbox-on-light_9 {
  -ms-transform: rotate(0.0deg);
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Button_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 139px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Button_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 139px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 74px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}