#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-checkbox-on-light_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-checkbox-on-light_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-checkbox-on-light_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-checkbox-on-light_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}