#s-fe9c5880-0f1b-43fc-9a13-9741033100df > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Label_31 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 38px;
  padding-left: 73px;
  width: 287px;
  height: 42px;
  background-color: #08AE9E;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Arial,Arial;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Label_31 .valign {
  vertical-align: top;
  text-align: left;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Label_31 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Label_31 span#rtr-s-Label_31_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Statusbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 20px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 8px;
  width: 352px;
  height: 20px;
  background-color: #000000;
  background-image: none;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Dynamic_Panel_3 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Panel_4 {
  width: 360px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Icons_5 {
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Label_30 {
  padding-right: 5px;
  width: 41px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Light,Arial;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Label_30 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Label_30 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Label_30 span#rtr-s-Label_30_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Line_1 {
  position: absolute;
  top: 41px;
  left: 7px;
  width: 42px;
  height: 21px;
  border-top-width: 7px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Rectangle_1 {
  position: absolute;
  top: 79px;
  left: 0px;
  width: 356px;
  height: 42px;
  background-color: #FFFECE;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Image_1 {
  position: absolute;
  top: 318px;
  left: 74px;
  width: 194px;
  height: 127px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_1 {
  position: absolute;
  top: 133px;
  left: 114px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_2 {
  position: absolute;
  top: 191px;
  left: 149px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_2 span#rtr-s-Text_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Input_1 {
  position: absolute;
  top: 151px;
  left: 26px;
  width: 306px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Input_1 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Input_2 {
  position: absolute;
  top: 209px;
  left: 25px;
  width: 303px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Input_2 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_3 {
  position: absolute;
  top: 242px;
  left: 132px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_3 span#rtr-s-Text_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Button_2 {
  position: absolute;
  top: 266px;
  left: 189px;
  width: 70px;
  height: 38px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Button_2 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Button_2 span#rtr-s-Button_2_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_4 {
  position: absolute;
  top: 460px;
  left: 140px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_4 span#rtr-s-Text_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-checkbox-on-light_6 {
  position: absolute;
  top: 505px;
  left: 46px;
  width: 27px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-checkbox-on-light_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-checkbox-on-light_6 span {
  color: #BCBCBC;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-checkbox-on-light_6 span#rtr-s-checkbox-on-light_6_0 {
  color: #BCBCBC;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_5 {
  position: absolute;
  top: 539px;
  left: 9px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_5 span#rtr-s-Text_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-checkbox-on-light_7 {
  position: absolute;
  top: 505px;
  left: 130px;
  width: 27px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-checkbox-on-light_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-checkbox-on-light_7 span {
  color: #BCBCBC;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-checkbox-on-light_7 span#rtr-s-checkbox-on-light_7_0 {
  color: #BCBCBC;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_6 {
  position: absolute;
  top: 539px;
  left: 122px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_6 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_6 span#rtr-s-Text_6_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-checkbox-on-light_8 {
  position: absolute;
  top: 505px;
  left: 198px;
  width: 27px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-checkbox-on-light_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-checkbox-on-light_8 span {
  color: #BCBCBC;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-checkbox-on-light_8 span#rtr-s-checkbox-on-light_8_0 {
  color: #BCBCBC;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_7 {
  position: absolute;
  top: 539px;
  left: 181px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_7 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_7 span#rtr-s-Text_7_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-checkbox-on-light_9 {
  position: absolute;
  top: 505px;
  left: 281px;
  width: 27px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-checkbox-on-light_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-checkbox-on-light_9 span {
  color: #BCBCBC;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-checkbox-on-light_9 span#rtr-s-checkbox-on-light_9_0 {
  color: #BCBCBC;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_8 {
  position: absolute;
  top: 539px;
  left: 263px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_8 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Text_8 span#rtr-s-Text_8_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Button_3 {
  position: absolute;
  top: 590px;
  left: 23px;
  width: 139px;
  height: 38px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Button_4 {
  position: absolute;
  top: 590px;
  left: 186px;
  width: 139px;
  height: 38px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Button_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Button_4 span#rtr-s-Button_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Group_1 {
  position: absolute;
  top: 266px;
  left: 74px;
  width: 78px;
  height: 42px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Button_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 74px;
  height: 38px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Label_3 {
  position: absolute;
  top: 8px;
  left: 26px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Label_3 span {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df #s-Label_3 span#rtr-s-Label_3_0 {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-fe9c5880-0f1b-43fc-9a13-9741033100df > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}